<%= form_for(@ontology) do |f| %>
  <% if @ontology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ontology.errors.count, "error") %> prohibited this ontology from being saved:</h2>

      <ul>
      <% @ontology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
