<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @query.content %>
</p>

<%= link_to 'Edit', edit_ontology_query_path(@query.ontology, @query) %> |
<%= link_to 'Back', queries_path %>
